@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    display: block;
  }

  :root {
    --header-nav-title-color: #ffffff;
    --header-nav-text-color: #ffffff;
    --header-nav-bottom-text-color: #1C2025;
    --header-nav-bottom-border-color: #dae436;
    --header-nav-bottom-background-color: #dae436;
    --header-nav-bottom-hover-background-color: #ffffff;
    --header-nav-bottom-hover-text-color: #1C2025;
    --header-nav-bottom-active-background-color:#dae436;
    --header-nav-bottom-active-text-color: #1C2025;
    --our-number-title-color: #ffffff;
    --our-number-text-color: #ffffff;
    --why-choose-us-title-color: #ffffff;
    --why-choose-us-text-color: #ffffff;
    --why-choose-us-border-color: #dae436;
    --why-choose-us-img-background-color: #dae436;
    --about-us-title-color: #dae436;
    --about-us-dark-text-color: #838383;
    --about-us-light-text-color: #ffffff;
    --about-us-reference-background-color: #ffffff;
    --our-stoty-title-color: #1c2025;
    --our-stoty-text-color: #838383;


    /*fonts*/
    --title-font-family: "Montserrat", sans-serif;
    --text-font-family: "Montserrat", sans-serif;
  }