.pricing__background {
  background-image: url(/img/pricing/pricing-background.webp);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  padding: 90px 24px 90px 24px;
}

.pricing__header {
  padding: 0 15px;
  max-width: var(--max-content-size);
  margin: auto;
}

.pricing h2 {
  font-family: var(--title-font-family);
  color: var(--pricing-title-color);
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.pricing__card-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  color: var(--pricing-card-text-color);
  font-family: var(--text-font-family);
  text-align: center;
  margin: 50px 0;
  padding: 20px 5px;
  gap: 30px;
}

.pricing-card--kids {
  background-color: var(--pricing-kids-background-color);
}

.pricing-card--adult {
  background-color: var(--pricing-adult-background-color);
}

.pricing-card--vip {
  background-color: var(--pricing-vip-background-color);
}

.pricing-card__title {
  font-weight: 600;
}

.pricing-card__big-text {
  font-weight: 700;
}

.pricing-card__medium-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
}

.pricing-card__small-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 20.04px;
}

@media (max-width: 425px) {
  .pricing h2 {
    font-size: 40px;
    letter-spacing: -0.84px;
  }

  .pricing-card {
    width: 100%; /* Картки займають всю ширину екрану */
    margin: 0; /* Прибираємо відступи */
  }

  .pricing-card__title {
    font-size: 22px;
    line-height: 30.8px;
  }

  .pricing-card__big-text {
    font-size: 24px;
    line-height: 30.8px;
    letter-spacing: -0.48px;
  }

  /*TO DO*/
  .pricing-card__img-container {
    background-color: var(--pricing-img-background-color);
    margin: auto;
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pricing-card__img-container img {
    object-fit: cover;
    width: 80%;
    height: 80%;
  }

  .pricing-card__bottom a {
    display: inline-block;
    font-size: 13.2px;
    text-align: center;
    color: var(--header-nav-bottom-text-color);
    font-family: var(--text-font-family);
    font-weight: 700;
    padding: 24px 31px;
    border: solid 1px var(--header-nav-bottom-border-color);
    background-color: var(--header-nav-bottom-background-color);
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }

  .pricing-card__bottom a:hover {
    background-color: var(--header-nav-bottom-hover-background-color);
    color: var(--header-nav-bottom-hover-text-color);
  }

  .pricing-card__bottom a:active {
    background-color: var(--header-nav-bottom-active-background-color);
    color: var(--header-nav-bottom-active-text-color);
  }
}

@media (min-width: 425px) and (max-width: 1024px) {
  /* Додаткові стилі для середнього екрану можна додати тут */
}

@media (min-width: 1024px) {
  /* Додаткові стилі для великого екрану можна додати тут */
}
